.upload__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;

  position: relative;
}


.upload__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 925px;
    height: 483px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 25px;

    color: #61876E;
    font-weight: 300;
    font-style: italic;

    cursor: pointer;
}

.upload__addfiles{
    width: 57px;
    height: 57px;
    border-radius: 50%;

    background: #F7EDDB;
    border: 1px solid #61876E;
    box-shadow: 0px 2px 0px #61876E;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 1s;

}

.upload__addfiles:hover{
    transform: scale(1.1);
}

.upload__inspect__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 271px;
    height: 69px;

    background: rgba(213, 216, 181, 0.25);
    border: 1px solid #61876E;
    box-shadow: 0px 2px 0px #61876E;

    font-size: 24px;
    line-height: 36px;

    color: #61876E;
    cursor: pointer;
}

.upload__inspect__button:hover{
    background: rgba(213, 216, 181, 0.5);;
}

.upload__annotation{
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #CC9C75;
}

@media screen and (max-width: 1024px) {
    .upload__box{
        width: 60vw;
        height: 60vh;
    }

    .upload__inspect__button{
        width: 200px;
    }

    .upload__annotation{
        font-size: 16px;
        line-height: 24px;
    }
    
}